[submodule "kunshan-geo"]
	path = kunshan-geo
	url = https://github.com/longavailable/kunshan-geo
[submodule "kunshan-landuse"]
	path = kunshan-landuse
	url = https://github.com/longavailable/kunshan-landuse
[submodule "kunshan-hydro"]
	path = kunshan-hydro
	url = https://github.com/longavailable/kunshan-hydro
[submodule "kunshan-flood"]
	path = kunshan-flood
	url = https://github.com/longavailable/kunshan-flood
